<!DOCTYPE HTML>
<html>

<head>
  <title>Vinicius Stevam</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
  <link rel="stylesheet" href="assets/css/style-timeline.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
  </noscript>
  <link rel="icon" type="image/png" href="images/favicon.ico">
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119404237-1"></script>
</head>

<body class="is-preload landing">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header">
      <a href="index.html"><img id="logo" src="images/logo_v2.png"></img></a>
      <nav id="nav">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="resume">Resume</a></li>
          <li>
            <a href="research">VS Research</a>
            <ul>
              <li><a href="fire-group">FIRE Group</a></li>
              <li><a href="btrcast">BTRCast</a></li>
            </ul>
          </li>
          <!-- <li><a href="index.html">Portfolio</a></li> -->
          <li><a href="blog">Blog</a></li> 
          <li><a href="impossible-list">Impossible List</a></li>

        </ul>
      </nav>
    </header>

    <!-- Content -->
    <%- yield %>

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://twitter.com/vstevan" class="icon brands alt fa-twitter"><span
              class="label">Twitter</span></a></li>
        <li><a href="https://www.linkedin.com/in/vinicius-stevam-842978a5/" class="icon brands alt fa-linkedin-in"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="https://www.instagram.com/vstevam/" class="icon brands alt fa-instagram"><span
              class="label">Instagram</span></a></li>
        <li><a href="https://github.com/vstevam" class="icon brands alt fa-github"><span class="label">GitHub</span></a>
        </li>
        <li><a href="mailto:vstevan@gmail.com?subject=Contact" class="icon solid alt fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Vinicius Stevam. All rights reserved.</li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
   <!-- Index -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/src/profile.js"></script>
    <!-- Resume -->
  <script src="assets/js/amcharts.js"></script>
	<script src="assets/js/jquery-timeline.js"></script>
	<script src="assets/src/timeline.js"></script>

</body>

</html>