<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>FIRE Group</h2>
			<p>Group created to gather people with the same mindset. You will find the documentation(PT) that we've been creating</p>
		</header>

		<!-- Content -->
		<section id="content">
			<iframe width="100%" height="1200" src="https://hackmd.io/@vstevam/rkVuuxm4B/%2FY4FrEN51QZeCaCpxK9R6dQ" frameborder="0"></iframe>

		</section>

	</div>
</div>