<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>BTRCast - Beyond the Rules</h2>
			<p>Podcast to discuss subjects beyond the rules</p>
		</header>

		<!-- Content -->
		<section id="content">
			<!-- <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a> -->
			<iframe src="https://anchor.fm/vinicius-stevam/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>

		</section>

	</div>
</div>