<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Vinicius Stevam Pereira Dias</h2>
            <p>My professional background, but make no mistake, I'm more than just words. I am the sum of my
                failures and defeats that I've been overcoming</p>
        </header>

        <!-- Content -->
        <section id="content">
            <a href="#" class="image fit"><img src="images/banner.png" alt="" /></a>
            <!-- Educational Background -->
            <h3>Educational Background</h3>
            <div class="row">
                <div class="col-6 col-12-xsmall">
                    <ul>
                        <li>2011 - B.A. Information Systems Management</li>
                        <li>2016 - Bachelor of Science in Human Nutrition(locked)</li>
                    </ul>
                </div>
            </div>
            <!-- Courses & Training -->
            <h3>Courses & Training</h3>
            <div class="row">
                <div class="col-6 col-12-xsmall">
                    <ul>
                        <li>2006 - Web Developer</li>
                        <li>2011 - Fundamentals of IT Management</li>
                        <li>2011 - Object-Oriented Programming Java</li>
                        <li>2012 - Web Academy</li>
                        <li>2014 - PowerBuilder Support & Developer</li>
                        <li>2015 - Oracle WebLogic Server 12c: roubleshooting</li>
                        <li>2016 - Angular 2</li>
                    </ul>
                </div>
                <div class="col-6-12-xsmall">
                    <ul>
                        <li>2018 - Spring Framework Master Class</li>
                        <li>2018 - Building Applications with Angular 4</li>
                        <li>2018 - Understanding and Documenting REST/RESTful APIs</li>
                        <li>2018 - General English</li>
                        <li>2018 - JavaScript ES6/7 / Webpack 2 / TypeScript</li>
                        <li>2019 - BlockChain: Foundations and Use Cases </li>
                        <li>2019 - ConsenSys Academy: Developer Program On-Demand</li>
                    </ul>
                </div>

            </div>

            <!-- Language -->
            <h3>Language</h3>
            <div class="row">
                <div class="col-6 col-12-xsmall">
                    <ul>
                        <li>Portuguese – Native</li>
                        <li>Spanish – Technical</li>
                    </ul>
                </div>
                <div class="col-6-12-xsmall">
                    <ul>
                        <li>English – Advanced</li>
                    </ul>
                </div>
            </div>
            <!-- Technical Skills -->
            <h3>Technical Skills</h3>
            <!-- Chart -->
            <div id="chartdiv"></div>

            <!-- Timeline -->
            <h3>Professional Experience</h3>
            <div id="myTimeline"></div>
        </section>

    </div>
</div>